html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #f2f2f2;
}
 

.card {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
       border-radius: 0 !important;
}

.card-header {
  border-bottom: 3px solid #525252 !important;
  height: 50px;
  background-color: #525252;
  /* border-color: #7c7c7c; */
  /* box-shadow: 6px 6px 0px 3px #555555; */
}

.modal {
  text-align: center;
}

.modal-header {
  border-bottom: 3px solid #525252 !important;
  /* height: 50px; */
  background-color: #525252;
}


.btn
{
margin-right: 16px;
margin-bottom: 4px !important;
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
     border-radius: 0 !important;
}


.btn-hide3, #save3, .btn-fill3, .btn-rotate3 {
  color: #FFCCCC;
}

.btn-hide2, #save2, .btn-fill2, .btn-rotate2 {
  color: #FFFFCC;
}

.nav-buttons {
  position: absolute;
  width: 58px;
  margin-top: 51px;
  margin-left: 350px;
}

.nav-buttons2 {
  position: absolute;
  width: 58px;
  margin-top: 51px;
  margin-left: 412px;
}

.nav-buttons button {
  font-size: 25px;
  width: 58px;
  background-color:#525252;
}

.nav-buttons2 button {
  font-size: 25px;
  width: 58px;
  background-color:#525252;
}

.btn-maker:hover ,.btn-colors:hover , .btn-export:hover , .btn-grid:hover , .btn-fill:hover , .btn-random:hover, .btn-help:hover {
  color:#f2f2f2 !important;
  }

.inline {
  display: inline-block;
}

#help button
{
  display: inline-block;
}

#main-card {
  top: 50%;
  transform: translateY(-50%);
  /* position: static; */
}

#art-container {
  position: relative;
}



#art-board {
  cursor: pointer;
  margin-left:3px;
  margin-bottom: 3px;
  position: absolute; 
  top: 0; 
  left: 0px; 
  z-index: 1;
 }
 

 #art-board2 {
  cursor: pointer;
  margin-left:3px;
  margin-bottom: 3px;
  position: absolute; 
  top: 0; 
  left: 0;
  z-index: 2;
 }

 #art-board3 {
  cursor: pointer;
  margin-left:3px;
  margin-bottom: 3px;
  top: 0; 
  left: 0;
  z-index: 3;
 }


 #main-block {
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}  


.block-up {
  margin: 0 auto;
    padding: 0px 0px 0px 0px;
    display: block;
    float: left;
    line-height: 0;
    /* background-color: rgb(245, 245, 245); */
}

.two-up { width:50%; }  
.three-up { width:33.33333333%; }  
.four-up { width: 25%; margin: 0px -1px -1px 0; }
.two-up { width: 50%; margin: 0 -1px -1px 0; }  
.three-up { width:33.33333333%; margin: 0 -1px -1px 0; }  
.four-up { width: 25%; margin: 0 -1px -1px 0;}
.five-up { width: 20%; margin: 0 -1px -1px 0;}
.six-up { width: 16.66666666%; margin: 0 -1px -1px 0;}
.seven-up { width: 14.285714285%; margin: 0 -1px -1px 0;}
.eight-up { width: 12.5%; margin: 0 -1px -1px 0;}
.nine-up { width: 11.111111111%; margin: 0 -1px -1px 0;}
.ten-up { width: 10%; margin: 0 -1px -1px 0;}



.modal p {
  word-wrap: break-word;
}

#art-board3 .color0 {
  fill: #FFC205;
}

#art-board2 .color0 {
  fill: #FFDD79;
}

#art-board .color0 {
  fill: #333333;
}


.rotate {
transition: transform .11s;
}

.nav-tabs {
  border-bottom: none;
  margin-bottom: -25px;
  /* background-color:red; */
  margin-top: -10px;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------
------ Footer Section ------------------- */
.img-thumbnail {
  width: 50px;
  height: 50px;
  float: left;
  /* margin: 5px 5px 5px 2px; */
  margin: 0px 0px 2px 2px;
  background-clip: content-box;
  border: none;
  padding: 4 -4px 5px 4px;
  cursor: pointer;

}

.shape-thumbnail {
  width: 56px;
  height: 56px;
  float: left;
  /* margin: 5px 5px 5px 2px; */
  margin: 5px 0px 5px 10px;
  background-clip: content-box;
  border: none;
  padding: 4 -4px 9px 6px;
  cursor: pointer;
  z-index: 1 !important;
  background-color: rgb(245, 245, 245);
}

.shape-thumbnail:hover {
  background-color: #FAFAFA;
  opacity: 10%;
}

#color-holder {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#boxes-holder {
  display: inline-block;
  width: 100%;
  height: 100vh;
  overflow-y: scroll !important;
}

.grid-on {
  border-style: solid !important;
    border-color: pink !important;
    border-width: 2px !important;
    /* border-radius: 1px !important;
    box-shadow: 0px 0px 0px 2px rgba(155, 39, 39, 0.3);      */
  }  
  .grid-off {
    border-style: none !important;
      border-color: white !important;
      border-width: 0px !important;
    }  
    

    /* .btn-hide3 {
      color: pink;
    } */
/* -----------------------------------------------------------------------------------------------------------------------------------------
------ end Footer Section ------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
  padding-left: 15px;
  padding-top: -15px;
    min-width: 365px;
    max-width: 365px;
    background: #f2f2f2;
    transition: all 0.35s;
    height: 88.5vh; 
}

#sidebar.active {
    margin-left: -365px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 750px) {
  #sidebar {
    padding-left: 15px;
    padding-top: -5px;
      min-width: 182px;
      max-width: 182px;
      background: #f2f2f2;
      transition: all 0.3s;
      height: 86vh;
  }
  
  #sidebar.active {
      margin-left: -182px;
  }

  .nav-buttons {
    position: absolute;
    width: 58px;
    margin-top: 51px;
    margin-left: 167px;
  }
  
  .nav-buttons2 {
    position: absolute;
    width: 58px;
    margin-top: 51px;
    margin-left: 231px;
  }

}